doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title #{title}
        block header
    body
        block content
            main.
                main
        block footer
            footer
                include ./nav